.col-md-10.col-md-offset-1
	
	-# If you change this navbar you must also change the navbar at the bottom of the page!
	.navbar.row
		.col-sm-10.col-sm-offset-1
			%a.icon-arrow-left{:href =>"/8", :title => "Précédent"}
			%a.icon-arrow-right.pull-right{:href =>"/2", :title => "Suivant"}

	%h3 #1 FIND &rarr; Autriche
	.video-container
		-# copy/paste youtube code
		<iframe width="640" height="480" src="//www.youtube-nocookie.com/embed/-FeNUhfJgEE?rel=0" frameborder="0" allowfullscreen></iframe>
	.row.widgets
		.col-md-6.timer.widget
			<iframe src="http://free.timeanddate.com/countdown/i3udako5/n195/cf12/cm0/cu5/ct0/cs0/ca0/co1/cr0/ss0/cac333/cpc333/pca1b2b1/tcfff/fs90/szw448/szh189/tatD%C3%A9part%20dans/tac333/tptEn%20route/tpc333/iso2013-10-15T00:00:00" frameborder="0" width="180" height="60"></iframe>
		.col-md-6.meteo.widget
			<iframe id="forecast_embed" type="text/html" frameborder="0" height="240" width="90%" src="http://forecast.io/embed/#lat=48.195387&lon=-16.347656&name=Autriche&color=#333&units=ca"></iframe>
		.col-md-4.technograph.humid
			%h4 Humidité (%)
			%iframe(src="http://technonautes.fr/files/weather/graph.html?sid=22" frameborder="0" scrolling="no")
		.col-md-4.technograph.temp
			%h4 Température (°C)
			%iframe(src="http://technonautes.fr/files/weather/graph.html?sid=23" frameborder="0" scrolling="no")
		.col-md-4.technograph.lumin
			%h4 Luminosité
			%iframe(src="http://technonautes.fr/files/weather/graph.html?sid=24" frameborder="0" scrolling="no")
		%h4 Position GPS
		%a(href="http://www.openstreetmap.org/?query=48.85652%2C2.426854#map=16/48.8558/2.4244&layers=Q") 48.85652 , 2.426854

		
	.navbar.row
		.col-sm-10.col-sm-offset-1
			%a.icon-arrow-left{:href =>"/8", :title => "Précédent"}
			%a.icon-arrow-right.pull-right{:href =>"/2", :title => "Suivant"}


	
	
