<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 4cc22865a0fa4f0c754461dff461dbd0d3542bac
<!DOCTYPE html>
<html>
<head>
<title>Bootstrap 101 Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="../bootstrap-3.0.0/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../bootstrap-3.0.0/assets/js/html5shiv.js"></script>
<script src="../bootstrap-3.0.0/assets/js/respond.min.js"></script>
<![endif]-->
</head>

<body>

.navbar

	%a{:href =>"/2"} 
		suivant 
	%img(scr="https://cdn1.iconfinder.com/data/icons/multimedia_iconset/128/button_next.png")
		

<div class:"container">

<div class="video-container">
<iframe id="global" width="640" height="480" src="//www.youtube.com/embed/n1CJj-_7d5M?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<<<<<<< HEAD
>>>>>>> 79a667ec62a4ab006eeef914ca8ff68ab3cd0556





=======
>>>>>>> 4cc22865a0fa4f0c754461dff461dbd0d3542bac

<div style="width:440px; height:300px;">
<object type="application/x-shockwave-flash" data="http://swf.yowindow.com/yowidget3.swf" width="440" height="300">
<param name="movie" value="http://swf.yowindow.com/yowidget3.swf"/>
<param name="allowfullscreen" value="true"/>
<param name="wmode" value="opaque"/>
<param name="bgcolor" value="#FFFFFF"/>
<param name="flashvars" 
value="location_id=gn:2112923&amp;location_name=Fukushima-shi&amp;time_format=24&amp;unit_system=metric&amp;lang=fr&amp;background=#FFFFFF&amp;copyright_bar=false"/>
<a href="http://WeatherScreenSaver.com?client=widget&amp;link=copyright"
style="width:440px;height:300px;display: block;text-indent: -50000px;font-size: 0px;background:#DDF url(http://yowindow.com/img/logo.png) no-repeat scroll 50% 50%;">Widget météo</a>
</object>
=======
<div id="bloc_video" class="col-md-10 col-md-offset-1" class="video-container">
<iframe id="global" width="100%" height="100%" src="//www.youtube.com/embed/n1CJj-_7d5M?rel=0" frameborder="0" allowfullscreen></iframe>
>>>>>>> d12413f0ec8d68e038733c874f81bc569739dcf0
</div>

<div class="col-md-5 col-md-offset-1">
<iframe src="http://free.timeanddate.com/countdown/i3u2ac79/n195/cf12/cm0/cu5/ct4/cs0/ca0/cr0/ss0/cacf3f3f3/cpcf3f3f3/pc555/tc833891/fs50/szw300/szh300/tatD%C3%A9part%20pour%20Fukushima/tacf3f3f3/tptCaisson%20parti%20pour%20Fukushima%20il%20y%20a/tpcf3f3f3/matdans/macf3f3f3/mpc000/iso2013-10-10T12:00:00/pa10" frameborder="0" width="100%" height="100%"></iframe>
</div>

<div class="col-md-5">
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=37.7608&lon=-140.4747&name=Fukushima&color=#ffffff&font=Georgia&units=uk"> </iframe>
</div>
