<!DOCTYPE html>
<html>
<head>
<title>Bootstrap 101 Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="../bootstrap-3.0.0/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../bootstrap-3.0.0/assets/js/html5shiv.js"></script>
<script src="../bootstrap-3.0.0/assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>

.navbar

	%a{:href => "/2"}  
		%img(scr="https://cdn1.iconfinder.com/data/icons/multimedia_iconset/128/button_next.png")
		suivant


<div class:"container">

<div class="video-container">
<iframe id="global" width="640" height="480" src="//www.youtube.com/embed/n1CJj-_7d5M?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div style="width:440px; height:300px;">
<object type="application/x-shockwave-flash" data="http://swf.yowindow.com/yowidget3.swf" width="440" height="300">
<param name="movie" value="http://swf.yowindow.com/yowidget3.swf"/>
<param name="allowfullscreen" value="true"/>
<param name="wmode" value="opaque"/>
<param name="bgcolor" value="#FFFFFF"/>
<param name="flashvars" 
value="location_id=gn:2112923&amp;location_name=Fukushima-shi&amp;time_format=24&amp;unit_system=metric&amp;lang=fr&amp;background=#FFFFFF&amp;copyright_bar=false"/>
<a href="http://WeatherScreenSaver.com?client=widget&amp;link=copyright"
style="width:440px;height:300px;display: block;text-indent: -50000px;font-size: 0px;background:#DDF url(http://yowindow.com/img/logo.png) no-repeat scroll 50% 50%;">Widget météo</a>
</object>
</div>
<div style="width: 440px; height: 15px; font-size: 14px; font-family: Arial,Helvetica,sans-serif;">
<span style="float:left;"><a target="_top" href="http://WeatherScreenSaver.com?client=widget&amp;link=copyright" style="color: #2fa900; font-weight:bold; text-decoration:none;" title="Widget météo">YoWindow.com</a></span>
<span style="float:right; color:#888888;">Forecast by&nbsp;<a href="http://yr.no" style="color: #2fa900; text-decoration:none;">yr.no</a></span>
</div>








</div>
</body>
</html>

