.col-md-10.col-md-offset-1
	
	-# If you change this navbar you must also change the navbar at the bottom of the page!
	.navbar.row
		.col-sm-10.col-sm-offset-1
			%a.icon-arrow-left{:href =>"/8", :title => "Précédent"}
			%a.icon-arrow-right.pull-right{:href =>"/2", :title => "Suivant"}

	%h3 #1 FIND &rarr; Autriche
	.video-container
		-# copy/paste youtube code
		<iframe width="640" height="480" src="//www.youtube-nocookie.com/embed/-FeNUhfJgEE?rel=0" frameborder="0" allowfullscreen></iframe>
	.row.widgets
		.col-md-6.timer.widget
			<iframe src="http://free.timeanddate.com/countdown/i3ud241y/n195/cf12/cm0/cu5/ct0/cs0/ca0/cr0/ss0/cac333/cpc333/pca1b2b1/tcfff/fs90/szw448/szh189/tatD%C3%A9part%20pour%20Fukushima/tac333/tptEn%20route/tpc333/matdans/mac333/mptdepuis/mpc333/iso2013-10-15T00:00:00" frameborder="0" width="263" height="84"></iframe>

		.col-md-6.meteo.widget
			<iframe id="forecast_embed" type="text/html" frameborder="0" height="240" width="90%" src="http://forecast.io/embed/#lat=37.7608&lon=-140.4747&name=Fukushima&color=#333&font=Georgia&units=uk"></iframe>
		





	.navbar.row
		.col-sm-10.col-sm-offset-1
			%a.icon-arrow-left{:href =>"/8", :title => "Précédent"}
			%a.icon-arrow-right.pull-right{:href =>"/2", :title => "Suivant"}


	
	
