.col-md-10.col-md-offset-1
	
	-# If you change this navbar you must also change the navbar at the bottom of the page!
	.navbar.row
		.col-sm-10.col-sm-offset-1
			%a.icon-arrow-left{:href =>"/5", :title => "Précédent"}
			%a.icon-arrow-right.pull-right{:href =>"/7", :title => "Suivant"}

	%h3 #6 OWN &rarr; OMC
	.video-container
		-# copy/paste youtube code
		<iframe width="640" height="480" src="//www.youtube.com/embed/oC03q76qnPE?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
	.row.widgets
		.col-md-6.timer.widget
			<iframe src="http://free.timeanddate.com/countdown/i3udako5/n195/cf12/cm0/cu5/ct0/cs0/ca0/co1/cr0/ss0/cac333/cpc333/pca1b2b1/tcfff/fs90/szw448/szh189/tatD%C3%A9part%20dans/tac333/tptEn%20route/tpc333/iso2013-10-15T00:00:00" frameborder="0" width="180" height="60"></iframe>

		.col-md-6.meteo.widget
			<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="90%" src="http://forecast.io/embed/#lat=46.195993&lon=-6.138611&name=Genève&color=#333&units=ca"></iframe>
		
	.navbar.row
		.col-sm-10.col-sm-offset-1
			%a.icon-arrow-left{:href =>"/5", :title => "Précédent"}
			%a.icon-arrow-right.pull-right{:href =>"/7", :title => "Suivant"}
