.col-md-5.col-md-offset-1
  %h2 Production
  %a(href="http://kairosfriendly.wix.com/fyow")
    %img.img-responsive(src="/kairos-friendly.png")
.col-md-5
  %h2 Réalisation web
  %a(href="http://simplon.co")
    %img.img-responsive.simplon(src="http://simplon.co/item/52420b93e4b0169e0fba9c09?format=1500w")