.col-md-11.col-md-offset-1
  %h2 Production
  %a(href="http://kairosfriendly.wix.com/fyow")
    %img.img-responsive.kairos(src="/kairos-friendly.png" title="Kairos Friendly")
.col-md-5.col-md-offset-1
  %h3 Captage de données temps réel
  %a(href="http://technonautes.fr/") 
    %img(src="technonautes.png" title="Les Technonautes")
.col-md-5
  %h3 Réalisation web
  %a(href="http://simplon.co")
    %img.img-responsive.simplon(src="simplon.png" title="Simplon.co")
