%p Hello!
%br Please FIND YOUR OWN WAY.
%br It's <strong>#{Time.now}</strong> on the machine!
%br Keep on pressing F5
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, dolore, molestias, quos tenetur asperiores facilis officiis fugiat debitis commodi eaque officia consequuntur hic corporis laboriosam itaque sequi sunt modi explicabo!
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, dignissimos, quis, quisquam esse dolor aperiam fugiat sapiente molestiae laboriosam ab voluptatibus nulla! Doloribus, vitae saepe enim quae qui ut eveniet?
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, dolore, molestias, quos tenetur asperiores facilis officiis fugiat debitis commodi eaque officia consequuntur hic corporis laboriosam itaque sequi sunt modi explicabo!
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, dignissimos, quis, quisquam esse dolor aperiam fugiat sapiente molestiae laboriosam ab voluptatibus nulla! Doloribus, vitae saepe enim quae qui ut eveniet?
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, dolore, molestias, quos tenetur asperiores facilis officiis fugiat debitis commodi eaque officia consequuntur hic corporis laboriosam itaque sequi sunt modi explicabo!
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, dignissimos, quis, quisquam esse dolor aperiam fugiat sapiente molestiae laboriosam ab voluptatibus nulla! Doloribus, vitae saepe enim quae qui ut eveniet?
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, dolore, molestias, quos tenetur asperiores facilis officiis fugiat debitis commodi eaque officia consequuntur hic corporis laboriosam itaque sequi sunt modi explicabo!
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, dignissimos, quis, quisquam esse dolor aperiam fugiat sapiente molestiae laboriosam ab voluptatibus nulla! Doloribus, vitae saepe enim quae qui ut eveniet?
