.navbar.row
	.col-sm-10.col-sm-offset-1
		%a.icon-arrow-right.pull-right{:href =>"/1", :title => "Suivant"}

%img.thinglink{:src => "//cdn.thinglink.me/api/image/443801222411976705/1024/10/scaletowidth#tl-443801222411976705;1043138249"}
<script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script>

.navbar.row
	.col-sm-10.col-sm-offset-1
		%a.icon-arrow-right.pull-right{:href =>"/1", :title => "Suivant"}