!!!
%html
  %head
    %title Find Your Own Way
    %meta{:charset => "utf-8"}
    / Ensure proper rendering and touch zooming
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    / Make it pretty
    %link{:href => "/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/style.css", :rel => "stylesheet"}
    / And dynamic
    %script{:src => "/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "/jquery.js", :type => "text/javascript"}
    
  %body
   
    .container
      #nav.row
        / Visible if screen width < 768px
        .col-xs-12.visible-xs
          %a.home.visible-xs{:href => "/", :title => "Home"}
            FIND YOUR
            %br OWN WAY
        .col-xs-12.visible-xs
          %img.visible-xs{:src => "/kairos-friendly.png", :title => "About"}

        / Visible if screen width ≥ 768px
        .col-xs-9.hidden-xs
          %a.home.hidden-xs{:href => "/", :title => "Home"} FIND YOUR OWN WAY
        .col-xs-3.hidden-xs
          %a{:href => "/about", :title => "About"}
            %img.pull-right.hidden-xs{:src => "/kairos-friendly.png", :title => "About"}

      .row
        .col-sm-12.skyline
          %img.img-responsive{:src => "/the-skyline.png"}

      -# Render the content of the view
      .row.content= yield
      
      .row
        .col-sm-12.pavement
          %img.img-responsive{:src => "/the-pavement.png"}