body {
  background-color: #1E4846;
  color: #FFFFFF;
}
.home {
  font-size: 32px;
  font-weight: 800;
}
#nav {
  background-color: #FFFFFF;
  margin-top: 15px;
  padding-top: 3px;
}
#nav a {
  color: #1E4846;
}
#nav a.visible-xs {
  text-align: center;
  line-height: 1.2;
}
#nav a:hover {
  text-decoration: none;
  color: #929292;
}
#nav img {
  max-height: 42px;
}
#nav img.visible-xs {
  margin: 5px auto 0;
}
.skyline, .pavement {
  margin: 0px auto 15px;
  padding: 0 1%;
}
<<<<<<< HEAD
<<<<<<< HEAD

#bloc_video
{
=======
.skyline img {
  margin-bottom: -90px;
}
#bloc_video {
>>>>>>> 4cc22865a0fa4f0c754461dff461dbd0d3542bac
height: 100%;
}
.fe_alert a {
  display: none;
}
.fe_container, .fe_location, .fe_forecast_link {
  color: important-white!;
}
<<<<<<< HEAD

=======
.skyline img {
  margin-bottom: -100px;
}
>>>>>>> 79a667ec62a4ab006eeef914ca8ff68ab3cd0556
=======
>>>>>>> 4cc22865a0fa4f0c754461dff461dbd0d3542bac
.video-container { 
    position: relative;   
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
<<<<<<< HEAD
<<<<<<< HEAD
    width: 100%;
    height: 100%;


=======
    width: 60%;
    height: 60%;
=======
    width: 100%;
    height: 100%;
>>>>>>> 4cc22865a0fa4f0c754461dff461dbd0d3542bac
}
img.simplon {
  max-width: 200px;
}
<<<<<<< HEAD
>>>>>>> 79a667ec62a4ab006eeef914ca8ff68ab3cd0556
=======
img.kairos {
  border: 3px solid #000000;
  padding: 8px;
  background-color: #FFFFFF;
}
img.thinglink {
  max-width: 100%;
}
>>>>>>> 4cc22865a0fa4f0c754461dff461dbd0d3542bac
