body {
  background-color: #1E4846;
  color: #FFFFFF;
}
.home {
  font-size: 32px;
  font-weight: 800;
}
#nav {
  background-color: #FFFFFF;
  margin-top: 15px;
  padding-top: 3px;
}
#nav a {
  color: #1E4846;
}
#nav a.visible-xs {
  text-align: center;
  line-height: 1.2;
}
#nav a:hover {
  text-decoration: none;
  color: #929292;
}
#nav img {
  max-height: 42px;
}
#nav img.visible-xs {
  margin: 5px auto 0;
}
.skyline, .pavement {
  margin: 0px auto 15px;
  padding: 0 1%;
}
.skyline img {
  margin-bottom: -50px;
}
.fe_alert a {
  display: none;
}
.fe_container, .fe_location, .fe_forecast_link {
  color: important-white!;
}
.video-container { 
    position: relative;   
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.simplon {
  max-width: 200px;
}
img.kairos {
  border: 3px solid #000000;
  padding: 8px;
  background-color: #FFFFFF;
}
img.thinglink {
  max-width: 100%;
}
.navbar a {
  margin: 0 20px;
  font-size: 42px;
  color: #FFFFFF;
  text-decoration: none;
}
.navbar a:hover {
  color: #929292;
  text-decoration: none;
}


/* Font integration for .icon-arrow-left and .icon-arrow-right */
 
@charset "UTF-8";
 
@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg"),
    url("fonts/untitled-font-1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
 
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:after {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
 
.icon-arrow-left:before {
   content: "n"; 
} 
 
.icon-arrow-right:after {
   content: "u"; 
}